<ion-header>
  <ion-toolbar>
    <ion-label>DETAIL OF EPISODE</ion-label>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="characterdetail">
  <ion-grid>
    <ion-row>
      <ion-col class="logo">
        <ion-img [src]="character.image" style="width:40%"></ion-img>
      </ion-col>
    </ion-row>
      <ion-col>
        <h3><b>Name: </b> {{ episode.name }}</h3>
        <h3><b>ID: </b> {{ episode.id }}</h3>
        <h3><b>Episode: </b> {{ episode.episode }}</h3>
        <h3><b>characters: </b> {{ episode.character}}</h3>
        <h3><b>url: </b> {{ episode.url}}</h3>
      </ion-col>
    <ion-row>

    </ion-row>
  </ion-grid>
</ion-content>